.pageBlog{
  @media(min-width: $breakpoint-M){
    display: grid;
   
  }
    grid: {
      template: {
        areas : 
       
          "content sidebar";
        columns:   3fr 1fr;
        rows: auto;
        column-gap: 20px;
        
      }
    }
    grid-column-gap: 20px;
    &__content{
      grid-column: content;
      
    }

}