// Roboto + Roboto Slab
@import url('https://fonts.googleapis.com/css?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap|Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap|Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap|Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


// @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap||Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




@font-face {
  font-family: "scriptorama";
  src: url("./../assets/fonts/scriptorama-tradeshow.ttf");
  font-display: swap;
}

  @font-face {
    font-family: "EuclidFlex";
    src: url("./../assets/fonts/EuclidFlex-Medium.ttf");
    font-display: swap;
  }