body {
    font-family: $font-stack;
}

.title {
   font-family: $font-stack-title;
   color: $color-text-secondary;
   text-transform: uppercase;

    &--1 {
        font-size: $font-size-tall;
        font-weight: 600;
        @media(min-width: $breakpoint-M) {
            font-size: $font-size-very-very-tall;
        }
    }

    &--2 {
        font-size: $font-size*1.3;
        font-weight: 500;
        @media(min-width: $breakpoint-M) {
            font-size: $font-size-tall;
        }
    }

    &--3 {
        font-size: $font-size;
        font-weight: 500;
        padding-bottom: $gutter-very-small;
    }

    &--4{
        
    }
    &--blog{
        font-size: $font-size-very-very-tall;
        line-height: $font-size-very-very-tall*1.5;
        font-family: $font-stack-blog;
        color: $color-primary;
        font-weight: 700;
        margin: $gutter-large 0;
        padding-top : $gutter-large;
        padding-bottom : $gutter-large;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        text-align: center;
    }

}

.productTitle{
    font-size: $font-size-very-tall*2;
    font-weight: 500;
}

.productSubtitle{
    text-transform: none !important; 
    font-size: $font-size-tall;
    padding: $gutter 0;
    font-weight: 400;
}

.fa-plus{
    color: $color-primary;
    
}

.fa-minus{
    color: $color-primary;
    
}
